<h1>Edit</h1>

<form method="POST" action="/medications/<%=@medication.id%>">
    <input id="hidden" type="hidden" name="_method" value="patch"/>
    <label>Drug Name:</label> <input type="text" name="name" placeholder="<%=@medication.name%>" value="<%=@medication.name%>"> <label>Stength:</label> <input type="text" name="strength" placeholder="<%=@medication.strength%>"> 
    <select id="unit" name="unit">
        <option value="mg">mg</option>
        <option value="mcg">mcg</option>
        <option value="meq">meq</option>
  </select>
    <br><br>
    <label>Quantity: </label> <input type="number" name="quantity" min="0" max="999"><br>
    <label>Side Effects: </label> <input type="text" name="side_effects" placeholder="<%=@medication.side_effects%>">
    <input type="submit" value="Submit Changes">
</form>