<head>
    <style type="text/css">table, th, td {
  border: 1px solid black;
margin-left: 100;} button{margin: 20px 0 -30px 0;}</style>
</head>
<h1>Welcome, <%=current_user.username%>!</h1>

<h1>Here are your medications</h1>
<form method="POST" action="/medications/:id/delete">

<table>
<tbody>
    <tr>
        <th>Delete</th>
        <th>Drug</th>
        <th>Strength</th>
        <th>Quantity</th>
        <th>Side Effect</th>
        <th>Edit</th>
    </tr>
    <%current_user.medications.each do |meds|%>
    <tr>
        <td><input type="checkbox" name="meds_ids[]" value="<%=meds.id%>" id="<%=meds.id%>"></td>
        <td><%=meds.name%></td> 
        <td><%=meds.strength%><%=meds.unit%></td>
        <td><%=meds.quantity%></td>
        <td><%=meds.side_effects%></td> 
        <td><a href="/medications/<%=meds.id%>/edit">Edit</a></td>
    <%end%>
    </tr>
    </tbody>
</table>
<button><a href="/medications/new">Add Med</a></button> <input type="submit" value="Delete Selected"><br> <button><a href="/logout">Log Out</a></button>
</form>